html, body{
    width:100%;
    height:auto;
    min-height: 100%;
    margin: 0;
    background-color: #dff7f7;
}
.header{
    width:100%;
    height: 5em;
    background-color: #fff;
}

.appContainer{
    width:94%;
    height: 90%;
    min-height: 20em;
    background-color: #fff;
    margin: 1.5em auto .5em auto;
    -webkit-box-shadow: 2px 2px 41px 0px rgba(15,15,15,0.41);
    -moz-box-shadow: 2px 2px 41px 0px rgba(15,15,15,0.41);
    box-shadow: 2px 2px 41px 0px rgba(15,15,15,0.41);

}